<launch>
  <arg name="model" default="iris"/>

<!-- Spawn iris with depth camera-->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="log"
    args="-sdf -database $(arg model) -model iris">
  </node> 

<!-- stupid planner -->
  <node pkg="stupid_planner" name="stupid_planner" type="stupid_planner" output="screen"/> 

</launch>